body {
    font-family: 'Ubuntu', sans-serif;
}
p.parrafos {
    font-size: large;
}
.borde {
    border: 1px solid black;
}
.rosado {
    height: 700px;
    background-color: #dc3546;
}
.gris {
    color: white;
    height: 150px;
    background-color: #363a3d;
}
.ricomida {
    font-family: 'Lobster', cursive;
}
.rojo {
    color: red;
}